@import url(https://fonts.googleapis.com/css?family=Ultra:regular);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 clamp(1rem, 9vw, 8.4rem);
}






/* HEADER */
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 89px; */
    height: clamp(3rem, 6vw, 5.6rem);
    background-color: #fff;
}

nav,
.nav__list {
    display: flex;
    align-items: center;
    /* gap: 72px; */
    gap: clamp(12px, 4vw, 72px);
}

.logo {
    font-family: Ultra;
    font-weight: 700;
    /* font-size: 40px; */
    font-size: clamp(1rem, 2vw, 2.5rem);
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav__list li {
    list-style: none;
    font-family: DM Sans;
    font-weight: 400;
    font-size: clamp(0.5rem, 1vw, 1rem);
    color: #000;
}

.nav__list li a {
    text-decoration: none;
}

.btn {
    /* width: 138px;
    height: 48px;  */
    padding: clamp(6px, 2vw, 12px) clamp(12px, 4vw, 24px);
    font-family: Oswald;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #fff;
}





/* HERO */
.hero__wrapper {
    background-color: #E7D4BE70;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    position: relative;
}

.hero__decor {
    position: absolute;
    left: 0;
    width: clamp(40px, 11vw, 266px);
}

.hero__info{
    padding-left: clamp(1rem, 9vw, 8.4rem);
    padding-top: clamp(1rem, 9vw, 10rem);
}

.hero__subtitle {
    font-family: Oswald;
    font-weight: 400;
    /* font-size: 16px; */
    font-size: clamp(0.5rem, 1vw, 1rem);
    line-height: 32px;
    line-height: clamp(1rem, 2vw, 2rem);
    letter-spacing: 3px;
    text-transform: uppercase;
}
.hero__shape{
    margin-left: 320px;
    margin-left: clamp(60px, 18vw, 360px);
    margin-bottom: 25px;
    margin-bottom: clamp(1px, 4vw, 30px);
    width: 10%;
}

.hero__title {
    font-family: Ultra;
    font-weight: 400;
    font-size: 72px;
    font-size: clamp(1rem, 4.5vw, 6rem);
    line-height: 80px;
    line-height: clamp(1rem, 5vw, 6rem);
    letter-spacing: 0px;
    margin: -60px 0px 27px 0px;
}

.hero__text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    font-size: clamp(10px, 2vw, 20px);
    line-height: 32px;
    letter-spacing: 0px;
}

.hero__img{
    display: block;
    max-width: 100%;
    height: auto;
}


/* ABOUT US*/
.about__wrapper{
    border: 1px solid red;
}
