@import url(https://fonts.googleapis.com/css?family=Ultra:regular);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 clamp(1rem, 9vw, 8.4rem);
}






/* HEADER */
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 89px; */
    height: clamp(3rem, 6vw, 5.6rem);
    background-color: #fff;
}

nav,
.nav__list {
    display: flex;
    align-items: center;
    /* gap: 72px; */
    gap: clamp(12px, 4vw, 72px);
}

.logo {
    font-family: Ultra;
    font-weight: 700;
    /* font-size: 40px; */
    font-size: clamp(1rem, 2vw, 2.5rem);
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav__list li {
    list-style: none;
    font-family: DM Sans;
    font-weight: 400;
    font-size: clamp(0.5rem, 1vw, 1rem);
    color: #000;
}

.nav__list li a {
    text-decoration: none;
}

.btn {
    /* width: 138px;
    height: 48px;  */
    padding: clamp(6px, 2vw, 12px) clamp(12px, 4vw, 24px);
    font-family: Oswald;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #fff;
}





/* HERO */
.hero__wrapper {
    background-color: #E7D4BE70;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.hero__content {
    display: flex;
}

.hero__decor-img{
    width: clamp(10px, 8.1vw, 134px);
}

.hero__info {
    padding-top: clamp(30px, 7vw, 110px);
    transform: translateX(-50px);
}

.hero__subtitle {
    font-family: Oswald;
    font-weight: 400;
    /* font-size: 16px; */
    font-size: clamp(0.5rem, 1vw, 1rem);
    line-height: 32px;
    line-height: clamp(1rem, 2vw, 2rem);
    letter-spacing: 3px;
    text-transform: uppercase;
}
.hero__shape{
    width: clamp(10px, 3.5vw, 64px);
    height: auto;
}

.hero__title {
    font-family: Ultra;
    font-weight: 400;
    font-size: 72px;
    font-size: clamp(1rem, 4.5vw, 4.5rem);
    line-height: 80px;
    line-height: clamp(1rem, 4.5vw, 4.5rem);
    letter-spacing: 0px;
    padding-bottom: clamp(10px,2vw, 27px);
}

.hero__text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    font-size: clamp(10px, 2vw, 20px);
    line-height: clamp(10px, 2vw, 32px);
    letter-spacing: 0px;
}

.hero__img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ABOUT US*/
.about__wrapper {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.about__image-box {
    display: flex;
    width: 50%;
    padding-top: 160px;
}

.about__image-box div {
    border: 1px solid red;
}

.bitmap {
    z-index: 2;
}

.bitmap2 {
    transform: translate(70px, -85px);
}

.shape {
    transform: translate(-350px, 120px);
}

.about__content {
    width: 50%;
}